name: GitHub Actions CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-latest]
        include:
          - os: ubuntu-latest
            core-tap: 'linuxbrew-core'
          - os: macOS-latest
            core-tap: 'homebrew-core'

    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Install Dotfiles
        run: |
          ./install

      - name: Check Homebrew installation
        run: which brew

      - name: Check tree installation
        run: has curl
